@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - FinancialManagementSystem1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinancialManagementSystem1.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinancialManagementSystem1.favicon.ico" asp-append-version="true" />
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Sistema de Gestión Financiera con Machine Learning</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link active" href="@Url.Action("About", "Home")">Acerca de</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact", "Home")">Contactos</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Login", "Home")">Iniciar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                        <p class="lead text-white-50 mb-4">Este sistema de gestión financiera está diseñado para ayudar a los usuarios a organizar y analizar sus ingresos y gastos, generar reportes detallados y recibir predicciones inteligentes sobre su flujo de caja, facilitando una mejor toma de decisiones financieras.</p>
                   
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
      
                    <h2 class="h4 fw-bolder">Lista breve de las funcionalidades más importantes del sistema</h2>
                   <ul>
                        <li>Registro de ingresos y gastos.</li>
                        <li>Generación de reportes financieros.</li>
                        <li>Análisis predictivo de flujo de caja utilizando inteligencia artificial..</li>
                      
                   </ul>
                    <p></p>
                    
                </div>
                
            </div>
        </div>
    </section>
    <!--Otra sección-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                
                <p class="lead mb-0">Nuestro propósito es empoderar a las personas y empresas para que tomen decisiones financieras informadas y efectivas.</p>
            </div>
            
        </div>
    </section>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2024</p></div>
</footer>
<!-- Bootstrap core JS-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <script src="~/js/scripts.js" asp-append-version="true"></script>
   
</body>
</html>
